<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Sản Phẩm</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <th:block th:replace="~{common/template::library}">

    </th:block>
</head>
<body class="bg-light">
<div th:replace="~{common/template::header}">
</div>

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">Thêm Sản Phẩm</h3>
        </div>
        <div class="card-body">
            <form  method="post" th:object="${product}">

                <div class="mb-3">
                    <label>ID</label>
                    <input type="text" class="form-control" id="id" name="id" th:field="*{id}">
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Tên sản phẩm</label>
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}">
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Giá</label>
                    <input type="number" class="form-control" id="price" name="price" th:field="*{price}">
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Mô tả</label>
                    <textarea class="form-control" id="description" name="description" rows="3" th:field="*{description}"></textarea>
                </div>

                <div class="mb-3">
                    <label for="manufacturer" class="form-label">Nhà sản xuất</label>
                    <input type="text" class="form-control" id="manufacturer" name="manufacturer" th:field="*{manufacturer}">
                </div>

                <button type="submit" class="btn btn-success">Lưu</button>
                <a href="product-list.html" class="btn btn-secondary">Hủy</a>
            </form>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
