
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head('Danh sách bài hát')}">


</head>
<body>
<header th:replace="~{layout::header('Danh sách bài hát')}">
</header>
<main>
    <div class="d-flex align-items-center gap-3 p-3">
        <!-- FORM THÊM + TÌM KIẾM TRÊN CÙNG 1 HÀNG, TRÁI - PHẢI -->
        <div class="container my-4" style="max-width: 900px;">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Nút Thêm sách (bên trái) -->
                <a href="/songs/create" class="btn btn-warning btn-sm d-flex align-items-center">
                    <i class="bi bi-plus-circle me-1"></i> Thêm mới
                </a>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center gap-3 p-3">
    </div>
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
    </div>
    <section>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên bài hát</th>
                <th>Nghệ sĩ thể hiện</th>
                <th>Thể loại nhạc</th>
                <th>Chỉnh sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song, stat : ${songs}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${song.title}"></td>
                <td th:text="${song.singer}"></td>
                <td th:text="${song.genre}"></td>
                <td>
                    <button type="button"
                            class="btn btn-outline-warning"
                            th:onclick="'window.location.href=\'/songs/' + ${song.id} + '/update\''">
                        <i class="bi bi-pencil text-primary"></i></button>
                </td>

            </tr>
            </tbody>
        </table>
    </section>
</main>


<footer th:replace="~{layout::footer}">
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
</body>


</html>
