<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head('Danh sách blog')}">


</head>
<body>
<header th:replace="~{layout::header('Danh sách blog')}">
</header>
<main>
    <div class="d-flex align-items-center gap-3 p-3">
        <!-- FORM THÊM + TÌM KIẾM TRÊN CÙNG 1 HÀNG, TRÁI - PHẢI -->
        <div class="container my-4" style="max-width: 900px;">
            <div class="d-flex justify-content-between align-items-center">
                <!-- Nút Thêm sách (bên trái) -->
                <a href="/blogs/create" class="btn btn-warning btn-sm d-flex align-items-center">
                    <i class="bi bi-plus-circle me-1"></i> Thêm mới
                </a>

                <!-- Form Tìm kiếm (bên phải) -->
                <form method="get" action="/blogs" class="d-flex align-items-center gap-2 p-3">
                    <input type="text" th:value="${keyword}" name="keyword"
                           class="form-control form-control-sm"
                           placeholder="Tìm theo tên" style="width: 200px;">
                    <select name="categoryId" class="form-select form-select-sm" style="width: 200px;">
                        <option value="" th:selected="${categoryId==null or categoryId==''}">Tất cả loại</option>
                        <option th:each="temp : ${categories}" th:text="${temp.nameCategory}"
                                th:value="${temp.idCategory}" th:selected="${temp.idCategory==categoryId}"></option>

                    </select>
                    <button type="submit" class="btn btn-sm btn-warning d-flex align-items-center">
                        <i class="bi bi-search me-1"></i> Tìm kiếm
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div th:if="${mess}">
        <span th:text="${mess}"></span>
    </div>
    <div th:if="${#lists.isEmpty(blogs)}">
        <span style="color: red">không tìm thấy blog</span>
    </div>
    <section>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>STT</th>
                <th>
                    Tên
                    <a th:href="@{/blogs(sortField='title', sortDir='asc')}">▲</a>
                    <a th:href="@{/blogs(sortField='title', sortDir='desc')}">▼</a>
                </th>


                <th>Nội dung</th>
                <th>Thể loại</th>
                <th>Chỉnh sửa</th>
                <th>xem chi tiết</th>
                <th>Xóa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="blog, stat : ${blogs}">
                <td th:text="${stat.index + 1}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.content}"></td>
                <td th:text="${blog.category.nameCategory}"></td>
                <td>
                    <button type="button"
                            class="btn btn-outline-warning"
                            th:onclick="'window.location.href=\'/blogs/' + ${blog.id} + '/edit\''">
                        <i class="bi bi-pencil text-primary"></i></button>
                </td>
                <td>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal"
                            data-bs-target="#confirmDeleteModal" th:attr="data-id=${blog.id}">
                        <i class="bi bi-trash text-danger me-2"></i>
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-outline-warning"
                            th:onclick="'window.location.href=\'/blogs/' + ${blog.id} + '/view\''">
                        xem
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-outline-warning" id="load-more" data-page="1">
            xem
        </button>
    </section>
</main>
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xoá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xoá blog này?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
                    <button type="submit" class="btn btn-danger">Xoá</button>
                </form>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{layout::footer}">
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
<script>
    const deleteModal = document.getElementById('confirmDeleteModal');
    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const blogId = button.getAttribute('data-id');
        const form = deleteModal.querySelector('#deleteForm');

        // Cập nhật action của form
        form.setAttribute('action', `/blogs/${blogId}/delete`);
    });



    //AJAX

    let currentPage = 1;

    $('#load-more').click(function () {
        $.ajax({
            type: "get",
            url: "/api/blog",
            data: {
                page: currentPage + 1
            },
            success: function (data) {
                if (data.content && data.content.length > 0) {
                    data.content.forEach((blog, index) => {
                        $('table tbody').append(`
                            <tr>
                                <td>${$('table tbody tr').length + 1}</td>
                                <td>${blog.title}</td>
                                <td>${blog.content}</td>
                                <td>${blog.category.nameCategory}</td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning" onclick="window.location.href='/blogs/${blog.id}/edit'">
                                        <i class="bi bi-pencil text-primary"></i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" data-id="${blog.id}">
                                        <i class="bi bi-trash text-danger me-2"></i>
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning" onclick="window.location.href='/blogs/${blog.id}/view'">
                                        xem
                                    </button>
                                </td>
                            </tr>
                        `);
                    });

                    currentPage++;

                    // Ẩn nút nếu không còn trang sau
                    if (data.last) {
                        $('#load-more').hide();
                    }
                } else {
                    $('#load-more').hide();
                }
            },
            error: function (e) {
                console.error(e);
                alert("Đã xảy ra lỗi khi tải blog");
            }
        });
    });




</script>
</body>


</html>